// imports
@import './variables';
@import './mixins';
@import './searchSuggestions';
@import './navigationBar';
@import './sideNavigationBar';

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  position: absolute;
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $default-font-family;
  transition: all ease-in-out 0.15s;

  .route__wrapper {
    padding-top: $default-padding-top !important;
  }
  button {
    outline: none !important;
  }
  ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
  }
  button {
    color: $light-theme-text-color !important;
    &:hover {
      background-color: $light-theme-active-background-color !important;
    }
  }
}

body.dark-theme {
  background-color: $dark-theme-background-color;
  color: $dark-theme-text-color;
  button {
    color: $dark-theme-text-color !important;
    &:hover {
      background-color: $dark-theme-active-background-color !important;
    }
  }
}
